<!--div *ngIf="ciudService.ciudadanoActivo" -->
<app-navbar></app-navbar>
<div class="container ">
  <h2 class="base-header-activ">ACTIVIDADES ECONOMICAS</h2>
  <p class="norecord" *ngIf="!haydatos">NO HAY CIUDADANO SELECCIONADO. DIRIJASE A LA OPCION DE BUSCAR PARA ACTUALIZAR LA INFORMACION.</p>



  <p-table [value]="lista" [paginator]="true" [rows]="30" [rowsPerPageOptions]="[20,30,40]" editMode="row">

    <ng-template pTemplate="header">
      <tr>
        <th scope="col" width="10%">CODIGO HACENDARIO</th>
        <th scope="col" width="65%">DESCRIPCION</th>
        <th scope="col" width="15%">FECHA INICIO</th>
        <th scope="col" width="10%">ACCION</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dato>
      <tr >
        <td >{{dato.codigo}}</td>
        <td >{{dato.descripcion}}</td>
        <td >{{dato.fec_inicio}}</td>
        <td style="text-align:center" ><button *ngIf="permisoedicion" class="boton-lover"  pButton type="button"  label="Finalizar" (click)="verborra(dato)"></button>

        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left" *ngIf="ciudadanoeActivo !== null">
        <button *ngIf="permisoedicion" class="boton "  pButton type="button" label="Adicionar" icon="pi pi-check" (click)="vercrear()"></button>
      </div>
    </ng-template>

  </p-table>


</div>

<p-dialog header="CREAR" [modal]="true" [positionTop]="100"  [(visible)]="creardialog" [style]="{width: '700px', height: '200px'}"
          [closable]="true" [baseZIndex]="10000">
  <div class="container">
    <div >
      <form  class="base-container"  (ngSubmit)="this.guardar()" [formGroup]="formulario" >
        <p-messages [(value)]="msgs"></p-messages>

        <div class="form-group row">
          <div class="col-sm-4">
            <label>Fecha inicio actividad: </label>
          </div>
          <div class="col-sm-8">
            <label>Actividad a registrar: </label>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4">

            <p-calendar  name="fec_inicio" formControlName="fec_inicio"  [monthNavigator]="true"
                         [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999'}"
                         [yearNavigator]="true" yearRange="2000:2030"  [showIcon]="true" [locale]="es" dateFormat="dd/mm/yy" ></p-calendar>
          </div>



          <div class="col-sm-8">

          <p-dropdown [options]="listaall"formControlName="idActividad" name="idActividad" ngModel filter="true" [itemSize]="31"  optionLabel= "union"
                      [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999'}"
                      placeholder="Seleccione una actividad..">

          </p-dropdown>


          </div>

            <!--div class="col-sm-9">
            <select   data-live-search="true" class="form-control selectpicker"  formControlName="idActividad" name="idActividad" ngModel  >

              <option  *ngFor="let dato of listaall" [value]="dato.idActividad">
                {{dato.codigo}} - {{dato.descripcion}}
              </option>
            </select>
          </div-->

        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            .
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <button class="boton boton-verde"  pButton type="button" label="Adicionar" icon="pi pi-check" (click)="guardar()"></button>
          </div>
          <div class="col-sm-6">
            <button class="boton"  pButton type="button" label="Cancelar" icon="pi pi-check" (click)="cancelar(1)"></button>
          </div>

        </div>


      </form>

    </div>
  </div>

</p-dialog>
<p-dialog header="FINALIZAR" [modal]="true" [positionTop]="100"  [(visible)]="borrardialog" [style]="{width: '500px', height: '200px'}"
          [closable]="true" [baseZIndex]="10000">
  <div class="container">
    <div >
      <form  class="base-container"  (ngSubmit)="this.borrar()" [formGroup]="formularioborra" >
        <p-messages [(value)]="msgs"></p-messages>
        <div class="form-group row">
          <div class="col-sm-9">
            <label>Fecha de Inicio: </label>
            <br/>
            <label><strong>{{fechaInicial}}</strong></label>

          </div>

        </div>
        <div class="form-group row">
          <div class="col-sm-9">
            <label>Fecha de finalización: </label>
            <p-calendar  name="fecCese" formControlName="fecCese"  [monthNavigator]="true"
                         [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999'}"
                         [yearNavigator]="true" yearRange="2000:2030"  [showIcon]="true" [locale]="es" dateFormat="dd/mm/yy" ></p-calendar>

          </div>

        </div>
        <div class="form-group row">
          <div class="col-sm-6">
              <button class="boton boton-verde"  pButton type="button" label="Finalizar Actividad" icon="pi pi-check" (click)="abreconfirmacion()"></button>
          </div>
          <div class="col-sm-6">
            <button class="boton"  pButton type="button" label="Cancelar" icon="pi pi-check" (click)="cancelar(2)"></button>
          </div>

        </div>
      </form>

    </div>
  </div>

</p-dialog>
<p-dialog header="Verificación" [modal]="true" [positionTop]="100"  [(visible)]="confirmacion" [style]="{width: '500px', height: '200px'}"
          [closable]="true" [baseZIndex]="10000">
  <div class="container">
    <div >

      <div class="form-group row">
        <div class="col-sm-12">

          ¿ Confirma la acción de finalizar la actividad ?

        </div>

      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="boton" class="ui-button-success" pButton type="button" label="Si" icon="pi pi-check" (click)="confirma(1)"></button>


        </div>
        <div class="col-sm-6">

          <button class="boton" pButton type="button" label="No" icon="pi pi-check" (click)="confirma(0)"></button>
        </div>

      </div>


    </div>
  </div>

</p-dialog>

<!--/div-->
