<!--div *ngIf="ciudService.ciudadanoActivo" -->
<div class="container ">
  <h2 class="base-header-activ">ACTIVIDADES ECONOMICAS</h2>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">CODIGO HACENDARIO</th>
      <th scope="col">DESCRIPCION</th>
      <th scope="col">FECHA INICIO</th>
      <th scope="col">ACCION</th>
    </tr>
    </thead>
    <tbody *ngFor="let dato of lista">

    <tr class="table-light">
      <th >{{dato}}</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    </tbody>
  </table>
</div>
<!--/div-->
