<div align="center" >
  <table>
    <tr>
      <td>
        <div class="col-sm-8">
          <div class="titulo">
            <p>

              <strong>{{footer}} </strong>
              {{footer1}}

              <br /> {{footer2}}
              <br /> {{footer3}}
              <br /> {{footer4}}
              <br />
              <a href="http://www.haciendabogota.gov.co">{{footer5}}</a>
              <br />
              <a href="http://www.bogota.gov.co/sdqs">{{footer6}}</a>
              <br />
              <a href="mailto:notificacionesjudiciales@alcaldiabogota.gov.co">{{footer7}}</a>
              <br /> {{footer8}}
              <br /> {{footer9}}
              <br/>©copyright - 2019
            </p>
          </div>


        </div>

      </td>

      <td>
        <div class="col-sm-4">

          <table>
            <tr align="center">
              <img alt="Logos de certificación" class="img-responsive" height="78" src="http://www.shd.gov.co/plantillas/images/logospiepagina.gif"
                   width="78" />

            </tr>
            <tr>

              <img alt="Suscríbase a nuestro RSS de Noticias" border="0" class="img-responsive" src="http://www.shd.gov.co/shd/sites/default/files/images/rss_habeasdata.png"
                   style="top: -17px; position: relative;" usemap="#Map" />
              <map name="Map" id="Map">
                <area coords="10,53,131,82" href="http://www.shd.gov.co/shd/rss.xml"
                      shape="rect" title="Suscríbase a nuestro RSS de Noticias" />
                <area coords="139,52,264,82" href="/shd/habeas-data" shape="rect" title="Habeas data de la entidad" />
              </map>


            </tr>


          </table>
        </div>

      </td>
    </tr>
  </table>
</div>
