
<div class="container py-3 ">
  <h2 class="base-header">RIT-DQ WEB</h2>
  <br/>
  <p>Bienvenido al aplicativo RIT-DQ WEB, haga clik en el botón según el perfil que desea trabajar. </p>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3"><button pButton type="button" class="ui-button-raised  ui-button-success" label="Contribuyente" (click)="ircontribuyente()"></button></div>
    <div class="col-md-3"> <button pButton type="button" label="Funcionario" class="ui-button-raised  ui-button-info" (click)="irfuncionario()"></button></div>
    <div class="col-md-3"><button pButton type="button" label="Configurar" class="ui-button-raised  ui-button-warning" (click)="iradmin()"></button></div>
  </div>
  <br/>
  <br/>
  <br/>
</div>
