<app-navbar></app-navbar>
<div class="container py-3">
  <h2 class="base-header">Registrar Contribuyente</h2>
  <div class="row">

    <div class="col-md-10 mx-auto">
      <form  class="base-container"  (ngSubmit)="this.registrar(false)" [formGroup]="formulario" >
        <div class="form-group row">
          <div class="col-sm-2">
            <label >Tipo de Persona : </label>

          </div>
          <div class="col-sm-2">
            <label >
              <input type="radio" name="tipoPersona"  [value]="1" formControlName="tipoPersona"  (change)="this.cambiotp()"  > Juridica
            </label>

          </div>
          <div class="col-sm-2">
            <label >
              <input type="radio" name="tipoPersona" [value]="2" formControlName="tipoPersona"    (change)="this.cambiotp()" [checked]='true'> Natural
            </label>
          </div>
          <div class="col-sm-6">

          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <label >Tipo de Identificación : </label>
            <select class="custom-select" class="form-control"  formControlName="tipoDocumento" name="tipoDocumento" ngModel (change)="this.cambiotiden()">
              <option *ngFor="let dato of tiposDocumento" [value]="dato.codigo">
                {{dato.nombre}}
              </option>
            </select>
          </div>
          <div class="col-sm-6" *ngIf="estipotext">
            <label>Número de Identificación: </label>
            <input type="text" pInputText  name="numidentificacion" formControlName="nroIdentificacion" class="form-control" ngModel
                   autocomplete="off" (change)="this.verificar()" pTooltip="Puede iniciar con Caracteres. Ej PA." tooltipEvent="focus"/>


          </div>
          <div class="col-sm-6" *ngIf="!estipotext">
            <label>Número de Identificación: </label>
            <input type="number" name="numidentificacion" formControlName="nroIdentificacion" class="form-control" ngModel
                   autocomplete="off"(change)="this.verificar()"  pTooltip="Digite sólo números." tooltipEvent="focus"/>

          </div>
        </div>

        <div class="form-group row" *ngIf="!tipoPersonaNat">
          <div class="col-sm-6">
            <label> * Razon Social:</label>
            <input type="text" name="razonsocial" class="form-control mayusculas" formControlName="razonsocial" ngModel
                   autocomplete="off" pTooltip="Nombre de la empresa.." tooltipEvent="focus"/>

          </div>
          <div class="col-sm-6">

          </div>

        </div>
        <div class="form-group row" *ngIf="tipoPersonaNat">
          <div class="col-sm-6">
            <label>* Primer Nombre:</label>
            <input type="text" name="primerNombre" class="form-control mayusculas" formControlName="primerNombre" ngModel
                   appSoloTexto pTooltip="Nombre principal." tooltipEvent="focus" autocomplete="off"/>
          </div>
          <div class="col-sm-6">
            <label>Segundo Nombre</label>
            <input type="text" name="segundoNombre" class="form-control mayusculas" formControlName="segundoNombre" ngModel
                   appSoloTexto pTooltip="Segundo nombre, puede dejar en blanco." tooltipEvent="focus" autocomplete="off"/>
          </div>

        </div>
        <div class="form-group row" *ngIf="tipoPersonaNat">
          <div class="col-sm-6">
            <label>* Primer Apellido</label>
            <input type="text" name="primerApellido" class="form-control mayusculas" formControlName="primerApellido" ngModel
                   appSoloTexto pTooltip="Apellido principal." tooltipEvent="focus" autocomplete="off"/>
          </div>
          <div class="col-sm-6">
            <label>Segundo Apellido</label>
            <input type="text" name="segundoApellido" class="form-control mayusculas" formControlName="segundoApellido" ngModel
                   appSoloTexto pTooltip="Segundo apellido, puede dejar en blanco." tooltipEvent="focus" autocomplete="off"/>
          </div>

        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <label>* Dirección:</label>
            <input type="text" name="direccion" class="form-control" formControlName="direccion" ngModel
                   pTooltip="Dirección principal, Ej CRA 23 23 23" tooltipEvent="focus" autocomplete="off"/>
          </div>


        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <label>* Pais</label>

            <select class="custom-select" class="form-control"  formControlName="pais" name="pais" ngModel
                    pTooltip="Pais de la dirección." tooltipEvent="focus" (change)="this.cambioPais()">
              <option value="" selected disabled>Seleccione país</option>
              <option *ngFor="let pais of paises" [value]="pais.codigo">
                {{pais.nombre}}
              </option>
            </select>

          </div>
          <div class="col-sm-6" *ngIf="escolombia">
            <label>* Departamento</label>
            <select class="custom-select" class="form-control"  formControlName="departamento" name="departamento"
                    pTooltip="Departamento de la dirección." tooltipEvent="focus" ngModel (change)="this.cambioDepto()" >
              <option value="" selected disabled>Seleccione departamento</option>

              <option *ngFor="let depto of deptos" [value]="depto.codigo">
                {{depto.nombre}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6" *ngIf="escolombia">
            <label>* Municipio/Ciudad</label>
            <select class="custom-select" class="form-control"  formControlName="municipio" name="municipio" ngModel
                    pTooltip="Municipio de la dirección." tooltipEvent="focus" >
              <option value="" selected disabled>Seleccione municipio</option>

              <option *ngFor="let munic of municp" [value]="munic.codigo">
                {{munic.nombre}}
              </option>
            </select>
          </div>
          <div class="col-sm-6" *ngIf="!escolombia ">
            <label>* Municipio/Ciudad</label>
            <input type="text" name="municipio" class="form-control mayusculas" formControlName="municipio" ngModel autocomplete="off"
                   pTooltip="Digite el nombre de la ciudad de la dirección." tooltipEvent="focus" />
          </div>
          <div class="col-sm-6">

          </div>
        </div>
        <div class="form-group row">

          <div class="col-sm-6">
            <label>* Correo personal</label>
            <input type="text" name="nuevoCorreo" class="form-control" formControlName="nuevoCorreo" ngModel autocomplete="off"
                   pTooltip="Correo principal del contribuyente, formato c@c.com" tooltipEvent="focus" />

          </div>
          <div class="col-sm-6">
            <label>* Teléfono</label>
            <input type="number" name="telefono" class="form-control" formControlName="telefono" ngModel autocomplete="off"
                   pTooltip="Teléfono principal del contribuyente, solo números." tooltipEvent="focus" />

          </div>
        </div>
        <div class="form-group row" >

          <div class="col-sm-6">
            <label >
              <!--input type="checkbox" name="indBuzon"  [value]="1"  formControlName="indBuzon" (click)="marcabuzon()" -->
              <p-checkbox name="group1" value="1" label="Usar Buzón Electrónico." formControlName="indBuzon" ngModel inputId="bz"></p-checkbox>
            </label>

          </div>
          <div class="col-sm-6">
            <label >
              <p-checkbox name="group1" value="1" label="Notificaciones Electrónicas." formControlName="indBuzon" ngModel inputId="nt"></p-checkbox>
              <!--input type="checkbox" name="notif"  [value]="1" formControlName="notif" (click)="marcabuzon()" -->
            </label>

          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">

          </div>
          <div class="col-sm-6">
            <button pButton class="boton" type="submit">Registrar</button>
            <button pButton class="btn btn-warning px-4 float-right" type="reset">Limpiar</button>

          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<p-dialog header="Información" [modal]="true" [positionTop]="100"  [(visible)]="notificadialog" [style]="{width: '500px', height: '200px'}"
          [closable]="true" [baseZIndex]="10000">
  <div class="container">
    <div >

      <div class="form-group row">
        <div class="col-sm-9">

          ¿ El contribuyente ya existe, desea cargarlo ?

        </div>

      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="boton" class="ui-button-success" pButton type="button" label="Si" icon="pi pi-check" (click)="ircrear(1)"></button>


        </div>
        <div class="col-sm-6">

          <button class="boton" pButton type="button" label="No" icon="pi pi-check" (click)="ircrear(0)"></button>
        </div>

      </div>


    </div>
  </div>

</p-dialog>
