
<div *ngIf="ciudService.ciudadanoActivo">
  {{ciudService.ciudadanoActivo.primerNombre}}
</div>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"></h1>
  </div>
</div>

<div class="modal-body">
  <style>
    .border {
      border-color: skyblue !important;
      border-left: 5px solid red !important;
    }
  </style>
  <div class="row">
    <!-- *************************  SECCIÓN PANEL PRINCIPAL INI I    *************************** -->
    <div class="col-lg-9">
      <div class="panel panel-default">
        <div class="panel-heading tooltip-info">
          <i class="glyphicon glyphicon-user"></i>
          Informaci&oacute;n para que me contacten
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">

                <div class="col-lg-12">
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      Tenga en cuenta
                    </div>
                    <div class="panel-body">
                      <p>
                        Aquí podrá revisar y actualizar todos sus datos de contacto. Para obtener el descuento adicional del 1% en el impuesto predial deberá autorizar el uso institucional de sus datos y la notificación electrónica seleccionando SI en las casillas correspondientes.
                      </p>
                    </div>
                  </div>
                </div>





                <div class="panel-heading">
                  Direcci&oacute;n de notificaci&oacute;n
                  <div class="pull-right">
                    <div class="btn-group" data-toggle="tooltip" data-placement="top" title="Actualizar dirección de Notificación">
                      <button type="button" class="btn btn-default btn-xs dropdown-toggle" (click)="nuevaDirNotificacion()" >
                        <i class="fa fa-map-marker"></i>
                        <strong> Actualizar </strong>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="panel-body">
                  <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                    <tr>
                      <th>Fecha actualizaci&oacute;n</th>
                      <th>Direcci&oacute;n</th>
                      <th>C&oacute;digo postal nacional</th>
                      <th>Municipio</th>
                      <th>Departamento</th>
                      <th>Pa&iacute;s</th>
                    </tr>
                    </thead>


                    <tbody *ngFor="let x of aDirNot">
                    <tr class="odd gradeX">
                      <td>{{x.fechaModificacion}}</td>
                      <td>{{x.direccion}}</td>
                      <td>{{x.codigoPostal}}</td>
                      <td>{{x.municipio.nombre}}</td>
                      <td>{{x.departamento.nombre}}</td>
                      <td>{{x.pais.nombre}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <div class="panel-heading tooltip-info">
                  Otros contactos registrados
                  <div class="pull-right">
                    <div class="btn-group" data-toggle="tooltip" data-placement="top"
                         title="Agregar un nuevo contacto a la lista">
                      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="modal"
                              data-target="#addReg" (click)="addContacto()">
                        <i class="glyphicon glyphicon-user"></i>
                        <strong> AGREGAR UN CONTACTO</strong>
                        <span class="fa fa-plus-square"></span>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">

                  <table width="100%" class="table table-striped table-bordered table-hover table-condensed table-responsive" id="dataTables-example" >
                    <thead>
                    <tr>
                      <th>Fecha actualizaci&oacute;n</th>
                      <th>Tipo de contacto</th>
                      <th>Descripci&oacute;n</th>
                      <th>Municipio</th>
                      <th>Departamento</th>
                      <th>Pa&iacute;s</th>
                      <th>Acci&oacute;n</th>
                    </tr>
                    </thead>

                    <tbody *ngFor="let x of aDirCon">
                    <tr class="odd gradeX">
                      <td>{{x.fechaModificacion}}</td>
                      <td>{{x.tipo.nombre}}-{{x.uso.nombre}}</td>
                      <td>{{x.direccion}}</td>
                      <td>{{x.municipio.nombre}}</td>
                      <td>{{x.departamento.nombre}}</td>
                      <td>{{x.pais.nombre}}</td>
                      <td class="center cleanBgBtn_css">
                        <button class="btn btn-default" type="button" title="Click para eliminar este registro"
                                data-toggle="modal" (click)="eliminaContacto(x)">
                          <i class="glyphicon glyphicon-trash"></i>
                        </button>
                      </td>
                    </tr>


                    <tbody *ngFor="let x of aDirMai">
                    <tr class="odd gradeX">
                      <td>{{x.fechaModificacion}}</td>
                      <td>{{x.tipoT.nombre}}-{{x.uso.nombre}}</td>
                      <td>{{x.direccion}}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="center cleanBgBtn_css">
                        <button class="btn btn-default" type="button" title="Click para eliminar este registro"
                                data-toggle="modal" (click)="eliminaContacto(x)">
                          <i class="glyphicon glyphicon-trash"></i>
                        </button>
                      </td>
                    </tr>
                    </tbody>

                    <tbody *ngFor="let x of aDirTel">
                    <tr class="odd gradeX">
                      <td>{{x.fechaModificacion}}</td>
                      <td>{{x.tipoT.nombre}}-{{x.uso.nombre}}</td>
                      <td>{{x.numero}}</td>
                      <td>{{x.ciudad.nombre}}</td>
                      <td>{{x.depto.nombre}}</td>
                      <td>{{x.pais.nombre}}</td>
                      <td class="center cleanBgBtn_css">
                        <button class="btn btn-default" type="button" title="Click para eliminar este registro"
                                data-toggle="modal" (click)="eliminaContacto(x)">
                          <i class="glyphicon glyphicon-trash"></i>
                        </button>
                      </td>
                    </tr>
                    </tbody>

                    <!--<tbody  *ngIf="false">
                    <tr class="odd gradeX">
                      <td colspan="5">
                        <div class="alert alert-info">
                          <h1 class="contenido">NO TIENE INFORMACI&Oacute;N DE CONTACTO RELACIONADA</h1>
                        </div>
                      </td>
                    </tr>
                    </tbody>-->
                  </table>
                </div>
                <!--  SECCION PARA EL 1% -->
                <!--<div class="panel-heading">
                    Direcci&oacute;n de notificaci&oacute;n
                    <div class="pull-right">
                       <div class="btn-group" data-toggle="tooltip" data-placement="top" title="Actualizar dirección de Notificación">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" ng-click="nuevaDirNotificacion()" >
                                <i class="fa fa-map-marker"></i>
                                <strong> Actualizar </strong>
                            </button>
                        </div>
                    </div>
                </div>-->

                <div class="panel-body">
                  <table width="100%" class="table table-striped table-bordered table-hover table-condensed table-responsive" id="dataTables-example">
                    <tbody>
                    <tr class="odd gradeX" align="center">
                      <td>
                        <span>Autorizo uso de la anterior información para fines institucionales</span>
                      </td>
                      <td width="10%">
                        <select style="font-size:70%;" class="form-control" ng-model="aUnoPor.notifElecActivo" ng-options="ti.cod as ti.desc for ti in selSiNo"></select>
                      </td>
                      <td>
                        <span>Autorizo el uso del buzón electrónico para recibir notificaciones</span>
                        <br>
                        <a href="" ng-click="reglamentoUsoBuzon()">
                          <i class="fa fa-file-text"></i>&nbsp; &nbsp; Ver reglamento uso buz&oacute;n
                        </a>
                      </td>
                      <td width="10%">
                        <select style="font-size:70%;" class="form-control" ng-model="aUnoPor.buzonActivo" ng-options="ti.cod as ti.desc for ti in selSiNo"></select>
                      </td>
                      <td>
                        <div class="btn-group" data-toggle="tooltip" data-placement="top" title="Confirmar datos">
                          <button type="button" class="btn btn-info" ng-click="confirmarDatos()" >
                            <i class="fa fa-map-marker"></i>
                            <strong> Confirmar datos </strong>
                          </button>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <!-- -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- /////////////////////////////  SECCIÓN PANEL PRINCIPAL FIN    ////////////////////////////// -->
<!-- *************************   SECCIÓN PANEL DE NOTIFICACIONES INI    *************************** -->


<div *ngIf="displayDirNotificacion">
  <p-dialog header="ASISTENTE PARA INGRESAR DIRECCIÓN VALIDA" [(visible)]="displayDirNotificacion" [modal]="true" [responsive]="true" [style]="{width: '950px'}" [minY]="70"
            [maximizable]="false" [baseZIndex]="10000" [closable]="true" positionTop="100">
    <app-estandarizador></app-estandarizador>

  </p-dialog>
</div>



<p-dialog header="Agregar nuevo contacto" [(visible)]="displayAddContacto" [modal]="true" [responsive]="true" [style]="{width: '950px'}" [minY]="70"
          [maximizable]="false" [baseZIndex]="10000" [closable]="true" positionTop="100">


  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Agregar nuevo contacto</div>
        <div class="panel-body">


          <div class="col-lg-12">
            <label>Seleccione el tipo de contacto</label>

            <label class="radio-inline margin15_css">
              <input type="radio" name="tipoContacto"  [(ngModel)]="tipoContacto" value="3"/>
              Correo electrónico
            </label>

            <label class="radio-inline">
              <input type="radio" name="tipoContacto" [(ngModel)]="tipoContacto" value="2"/>
              Dirección
            </label>

            <label class="radio-inline">
              <input type="radio" name="tipoContacto" [(ngModel)]="tipoContacto" value="1"/>
              Teléfono.
            </label>

            <hr>
          </div>


          <!-- EMAIL -->

          <div class="col-lg-12" *ngIf="tipoContacto == '3'">
            <label class="required_css">Correo electrónico</label>



            <form name="myForm" novalidate="novalidate">
              <input type="text" [name]="email" class="form-control" ng-maxlength="200" [ngModelOptions]="{standalone: true}" [(ngModel)]="email" [id]="email"/>
              <div class="help-block with-errors">
                <ul class="list-unstyled">
                  <li>Debe digitar el correo electrónico</li>
                </ul>
              </div>
              <div class="help-block with-errors" >
                <ul class="list-unstyled">
                  <li>Email no v&aacute;lido</li>
                </ul>
              </div>

              <label class="required_css">Tipo de uso</label>


              <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="mailTipoUso" [name]="mailTipoUso" [id]="mailTipoUso">
                <option *ngFor="let ban of listaTU" [value]="ban.codigo">
                  {{ban.nombre}}
                </option>
              </select>


              <hr>

              <div class="buttons_css">
                <button type="button" class="btn btn-primary" (click)="cancel()">
                  <span class="glyphicon glyphicon-level-up" aria-hidden="true"></span>
                  Cancelar
                </button>
                <button type="button" class="btn btn-success" (click)="registrar()">
                  <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                  Crear Contacto
                </button>
              </div>

            </form>



          </div>




          <div class="col-lg-12" *ngIf="tipoContacto == '1'">               <!-- TELEFONO -->
            <div class="row">
              <form role="form" name="myFormT" novalidate="novalidate">
                <div class="form-group">
                  <label class="required_css">Tel&eacute;fono</label>
                  <table class="phoneInput_css">
                    <tr>
                      <td>
                        <input class="form-control" [name]="telefono"  [id]="telefono" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="telefono" minlength="7"   required="true" [maxlength]="14" />
                      </td>
                      <td>
                        <label>Ext:</label>
                      </td>
                      <td>
                        <input class="form-control" type="text" [name]="ext"  [id]="ext" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="ext" [ngModelOptions]="{standalone: true}"/>
                      </td>
                    </tr>
                  </table>
                  <div class="help-block with-errors" >
                    <ul class="list-unstyled">
                      <li>Debe ser m&iacute;nimo de 7 d&iacute;gitos</li>
                    </ul>
                  </div>
                  <div class="help-block with-errors">
                    <ul class="list-unstyled">
                      <li>Debe ser m&aacute;ximo de 14 d&iacute;gitos</li>
                    </ul>
                  </div>
                  <div class="help-block with-errors">
                    <ul class="list-unstyled">
                      <li>Campo Obligatorio</li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="required_css">Tipo de uso</label>


                    <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="telTipoUso" [name]="telTipoUso" [id]="telTipoUso">
                      <option *ngFor="let ban of listaTU" [value]="ban.codigo">
                        {{ban.nombre}}
                      </option>
                    </select>

                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="required_css">Tipo</label>

                    <select class="form-control" id="seleccion" ng-init="tipo='FIJO'" [(ngModel)]="tipo" [ngModelOptions]="{standalone: true}" [(ngModel)]="tipo" [name]="tipo" [id]="tipo">
                      <option value="FIJO">Fijo</option>
                      <option value="CELULAR">Celular</option>
                      <option value="AVANTEL">Avantel</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>

            <hr>

            <div class="buttons_css">
              <button type="button" class="btn btn-primary" (click)="cancel()">
                <span class="glyphicon glyphicon-level-up" aria-hidden="true"></span>
                Cancelar
              </button>
              <button type="button" class="btn btn-success" (click)="registrar()">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                Crear Contacto
              </button>
            </div>
          </div>                      <!-- TELEFONO -->


          <!-- DIRECCION -->

          <div *ngIf="tipoContacto == '2'">

            <app-estandarizador></app-estandarizador>

          </div>

          <!-- DIRECCION -->

        </div>
      </div>
    </div>
  </div>


</p-dialog>
