<app-navbar></app-navbar>
<div class="container ">
  <h2 class="base-header-estab">DATOS DE CONTACTO</h2>
  <p class="norecord" *ngIf="!haydatos">NO HAY CIUDADANO SELECCIONADO. DIRIJASE A LA OPCION DE BUSCAR PARA ACTUALIZAR LA INFORMACION.</p>
  <div class="col-lg-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <strong>Tenga en cuenta: </strong>
      </div>
      <div class="panel-body">
        <p>
          Aquí podrá revisar y actualizar todos sus datos de contacto. Se encuentra la dirección principal de notificaciones y otros tipos para contacto.
        </p>
      </div>
    </div>
  </div>
  <button class="btn"  pButton type="button" label="Actualizar Dirección de Notificación" icon="pi pi-check" (click)="nuevaDirNotificacion()"></button>
  <p-table [value]="aDirNot" [paginator]="true" [rows]="30" [rowsPerPageOptions]="[20,30,40]" editMode="row">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" width="20%">FECHA ACTUALIZACION</th>
        <th scope="col" width="40%">DIRECCION DE NOTIFICACION</th>
        <th scope="col" width="10%">CODIGO POSTAL</th>
        <th scope="col" width="10%">MUNICIPIO</th>
        <th scope="col" width="10%">DEPTO</th>
        <th scope="col" width="10%">PAIS</th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dato>
      <tr >
        <td>{{dato.fechaModificacion}}</td>
        <td>{{dato.direccion}}</td>
        <td>{{dato.codigoPostal}}</td>
        <td>{{dato.municipio.nombre}}</td>
        <td>{{dato.departamento.nombre}}</td>
        <td>{{dato.pais.nombre}}</td>

      </tr>
    </ng-template>

  </p-table>

  <br/>


  <button class="btn"  pButton type="button" label="Agregar Tipo de Contacto" icon="pi pi-check" (click)="addContacto()"></button>

  <br/>
  <p-tabView>
    <p-tabPanel header="Mis Direcciones">
      <p-table [value]="aDirCon" [paginator]="true" [rows]="30" [rowsPerPageOptions]="[20,30,40]" editMode="row">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" width="15%">FECHA ACTUALIZACION</th>
            <th scope="col" width="15%">TIPO DE CONTACTO</th>
            <th scope="col" width="30%">DIRECCION</th>
            <th scope="col" width="10%">MUNICIPIO</th>
            <th scope="col" width="10%">DEPTO</th>
            <th scope="col" width="10%">PAIS</th>
            <th scope="col" width="10%">ACCION</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dato>
          <tr >
            <td>{{dato.fechaModificacion}}</td>
            <td>{{dato.tipo.nombre}}-{{dato.uso.nombre}}</td>
            <td>{{dato.direccion}}</td>
            <td>{{dato.municipio.nombre}}</td>
            <td>{{dato.departamento.nombre}}</td>
            <td>{{dato.pais.nombre}}</td>
            <td class="center cleanBgBtn_css">

              <button class="btn"  pButton type="button" label="Eliminar" (click)="verborra(dato)"></button>
            </td>
          </tr>
        </ng-template>

      </p-table>


    </p-tabPanel>
    <p-tabPanel header="Mis Correos">
      <p-table [value]="aDirMai" [paginator]="true" [rows]="30" [rowsPerPageOptions]="[20,30,40]" editMode="row">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" width="15%">FECHA ACTUALIZACION</th>
            <th scope="col" width="15%">TIPO DE CONTACTO</th>
            <th scope="col" width="30%">CORREO ELECTRONICO</th>
            <th scope="col" width="10%">ACCION</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-x>
          <tr >
            <td>{{x.fechaModificacion}}</td>
            <td>{{x.tipoT.nombre}}-{{x.uso.nombre}}</td>
            <td>{{x.direccion}}</td>

            <td class="center cleanBgBtn_css" *ngIf="x.uso.codigo !== '5'">

              <button class="btn"  pButton type="button" label="Eliminar" (click)="verborra(x)"></button>
            </td>

            <td class="center cleanBgBtn_css" *ngIf="x.uso.codigo === '5'">
              <button class="btn"  pButton type="button" label="Modificar" (click)="modificarContacto(x)"></button>
            </td>


          </tr>
        </ng-template>

      </p-table>

    </p-tabPanel>
    <p-tabPanel header="Mis Telefonos">
      <p-table [value]="aDirTel" [paginator]="true" [rows]="30" [rowsPerPageOptions]="[20,30,40]" editMode="row">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" width="15%">FECHA ACTUALIZACION</th>
            <th scope="col" width="15%">TIPO DE CONTACTO</th>
            <th scope="col" width="30%">DIRECCION</th>
            <th scope="col" width="10%">MUNICIPIO</th>
            <th scope="col" width="10%">DEPTO</th>
            <th scope="col" width="10%">PAIS</th>
            <th scope="col" width="10%">ACCION</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-datosTel>
          <tr>
            <td>{{datosTel.fechaModificacion}}</td>
            <td>{{datosTel.tipoT.nombre}}</td>
            <td>{{datosTel.numero}}</td>
            <td>{{datosTel.ciudad.nombre}}</td>
            <td>{{datosTel.depto.nombre}}</td>
            <td>{{datosTel.pais.nombre}}</td>

            <td class="center cleanBgBtn_css" *ngIf="datosTel.uso.codigo !== '5'">
              <button class="btn"  pButton type="button" label="Eliminar"  (click)="verborraTel(datosTel)"></button>
            </td>

            <td class="center cleanBgBtn_css" *ngIf="datosTel.uso.codigo === '5'">
              <button class="btn"  pButton type="button" label="Modificar" (click)="modificarContactoTel(datosTel)"></button>
            </td>


          </tr>
        </ng-template>

      </p-table>

    </p-tabPanel>
  </p-tabView>




</div>

<!-- /////////////////////////////  SECCIÓN PANEL PRINCIPAL FIN    ////////////////////////////// -->
<!-- *************************   SECCIÓN PANEL DE NOTIFICACIONES INI    *************************** -->


<div *ngIf="displayDirNotificacion">
  <p-dialog header="ASISTENTE PARA INGRESAR DIRECCIÓN ESTANDARIZADA" [(visible)]="displayDirNotificacion" [modal]="true" [responsive]="true" [style]="{width: '1050px'}" [minY]="0"
            [maximizable]="false" [baseZIndex]="10000" [closable]="true" positionTop="100">
    <app-estandarizador></app-estandarizador>

  </p-dialog>
</div>



<p-dialog header="Agregar nuevo contacto" [(visible)]="displayAddContacto" [modal]="true" [responsive]="true" [style]="{width: '1050px'}" [minY]="0"
          [maximizable]="false" [baseZIndex]="10000" [closable]="true" positionTop="100">


  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">

        <div class="panel-body">
          <div class="row">
            <div class="col-md-3">Seleccione el tipo de contacto : </div>
            <div class="col-md-3"><p-radioButton name="tipoContacto" value="3" label="Correo electrónico" [(ngModel)]="tipoContacto"></p-radioButton></div>
            <div class="col-md-3"> <p-radioButton name="tipoContacto" value="2" label="Dirección" [(ngModel)]="tipoContacto"></p-radioButton></div>
            <div class="col-md-3"><p-radioButton name="tipoContacto" value="1" label="Teléfono" [(ngModel)]="tipoContacto"></p-radioButton></div>
          </div>
          <!-- EMAIL -->

          <div class="col-lg-12" *ngIf="tipoContacto == '3'">

            <div [formGroup]="myForm">

              <p-messages [(value)]="msgsEmail" ></p-messages>
              <div class="row show-grid ">
                <div class="col-md-6">
                  <label class="required_css">Correo electrónico</label>
                  <input type="text" name="email" formControlName="email" class="form-control" ng-maxlength="200" placeholder="Email" required/>
                </div>





                <div class="col-md-6">
                  <label class="required_css">Tipo de uso</label>

                  <select class="form-control" name="mailTipoUso" formControlName="mailTipoUso" required="required">
                    <option *ngFor="let ban of listaTU" [value]="ban.codigo">
                      {{ban.nombre}}
                    </option>
                  </select>

                </div>

              </div>
              <hr>

              <div class="buttons_css">
                <button type="button" class="btn btn-success" (click)="registrar()">
                  <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                  Crear Contacto
                </button>
              </div>

            </div>



          </div>




          <div class="col-lg-12" *ngIf="tipoContacto == '1'">               <!-- TELEFONO -->
            <div class="row">


              <div [formGroup]="myFormT">


                <p-messages [(value)]="msgsTelefono" ></p-messages>
                <div class="col-lg-12">
                  <div class="row show-grid ">
                    <div class="col-lg-3">
                      <span class="innerTitleBold_css">Tel&eacute;fono: </span>
                      <input class="form-control" name="telefono"  type="number" formControlName="telefono"  required/>
                    </div>

                    <div class="col-lg-3">
                      <span class="innerTitleBold_css">Ext: </span>
                      <input class="form-control" type="text" name="ext"  type="number" formControlName ="ext" />
                    </div>

                    <div class="col-lg-3">
                      <span class="innerTitleBold_css">Tipo de uso: </span>

                      <select class="form-control" formControlName="telTipoUso" name="telTipoUso" required>
                        <option *ngFor="let ban of listaTU" [value]="ban.codigo">
                          {{ban.nombre}}
                        </option>
                      </select>
                    </div>


                    <div class="col-lg-3">
                      <span class="innerTitleBold_css">Tipo: </span>
                      <select class="form-control" id="seleccion"  formControlName="tipo" name="tipo" required>
                        <option value="FIJO">Fijo</option>
                        <option value="CELULAR">Celular</option>
                        <option value="AVANTEL">Avantel</option>
                      </select>
                    </div>

                  </div>
                </div>

              </div>
            </div>

            <hr>

            <div class="buttons_css">
              <button type="button" class="btn btn-success" (click)="registrar()">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                Crear Contacto
              </button>
            </div>
          </div>                      <!-- TELEFONO -->


          <!-- DIRECCION -->

          <div *ngIf="tipoContacto == '2'">

            <app-estandarizador></app-estandarizador>

          </div>

          <!-- DIRECCION -->

        </div>
      </div>
    </div>
  </div>


</p-dialog>


<p-dialog header="Modificar Correo de Notificación contacto" [(visible)]="displaymodificarContacto" [modal]="true" [responsive]="true" [style]="{width: '650px'}" [minY]="80"
          [maximizable]="false" [baseZIndex]="10000" [closable]="true" positionTop="100">


  <div class="col-lg-12">

    <div [formGroup]="editForm">



      <p-messages [(value)]="msgsEmail" ></p-messages>
      <div class="row show-grid ">
        <div class="col-md-6">
          <label class="required_css">Correo electrónico</label>
          <input type="text" name="email" formControlName="email" class="form-control" ng-maxlength="200" placeholder="Email"/>
        </div>



      </div>
      <hr>

      <div class="buttons_css">
        <button type="button" class="btn btn-success" (click)="actualizarCorreoNotificacion()">
          <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
          Actualizar Contacto
        </button>
      </div>

    </div>



  </div>





</p-dialog>


<p-dialog header="BORRAR" [modal]="true" [positionTop]="100"  [(visible)]="borrardialog" [style]="{width: '500px', height: '200px'}"
          [closable]="true" [baseZIndex]="10000">
  <div class="container">
    <div >

      <div class="form-group row">
        <div class="col-sm-9">
          <label>desea Eliminar el registro? </label>
        </div>

      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn  px-4 float-left"  pButton type="button" label="Eliminar" icon="pi pi-check" (click)="EliminarContacto()"></button>
        </div>

        <div class="col-sm-6">
          <button class="btn  px-4 float-left"  pButton type="button" label="Salir" icon="pi pi-check" (click)="SalirContacto()"></button>
        </div>


      </div>


    </div>
  </div>

</p-dialog>


<p-dialog header="Modificar Correo de Notificación contacto" [(visible)]="displaymodificarContactoTel" [modal]="true" [responsive]="true" [style]="{width: '650px'}" [minY]="80"
          [maximizable]="false" [baseZIndex]="10000" [closable]="true" positionTop="100">


  <!-- TELEFONO -->
  <div class="row">


    <div [formGroup]="editFormTel">


      <p-messages [(value)]="msgsTelefono" ></p-messages>
      <div class="col-lg-12">
        <div class="row show-grid ">
          <div class="col-lg-3">
            <span class="innerTitleBold_css">Tel&eacute;fono: </span>
            <input class="form-control" name="telefono"  type="number" formControlName="telefono"  required/>
          </div>

          <div class="col-lg-3">
            <span class="innerTitleBold_css">Ext: </span>
            <input class="form-control" type="text" name="ext"  type="number" formControlName ="ext" />
          </div>


          <div class="col-lg-3">
            <span class="innerTitleBold_css">Tipo: </span>
            <select class="form-control" id="seleccionT"  formControlName="tipo" name="tipo" required>
              <option value="FIJO">Fijo</option>
              <option value="CELULAR">Celular</option>
              <option value="AVANTEL">Avantel</option>
            </select>
          </div>

        </div>
      </div>

    </div>
  </div>

  <hr>

  <div class="buttons_css">
    <button type="button" class="btn btn-success" (click)="actualizarTelefonoNotificacion()">
      <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
      Crear Contacto
    </button>
  </div>
  <!-- TELEFONO -->


</p-dialog>
