<app-navbar></app-navbar>
<div class="container ">
  <h2 class="base-header-estab">DATOS DE CONTACTO</h2>
  <p class="norecord" *ngIf="!haydatos">NO HAY CIUDADANO SELECCIONADO. DIRIJASE A LA OPCION DE BUSCAR PARA ACTUALIZAR LA INFORMACION.</p>
  <div class="col-lg-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <strong>Tenga en cuenta: </strong>
      </div>
      <div class="panel-body">
        <p>
          Aquí podrá revisar y actualizar todos sus datos de contacto. Se encuentra la dirección principal de notificaciones y otros tipos para contacto.
        </p>
      </div>
    </div>
  </div>
  <button class="btn"  pButton type="button" label="Actualizar Dirección de Notificación" icon="pi pi-check" (click)="nuevaDirNotificacion()"></button>
  <p-table [value]="aDirNot" [paginator]="true" [rows]="30" [rowsPerPageOptions]="[20,30,40]" editMode="row">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" width="20%">FECHA ACTUALIZACION</th>
        <th scope="col" width="40%">DIRECCION DE NOTIFICACION</th>
        <th scope="col" width="10%">CODIGO POSTAL</th>
        <th scope="col" width="10%">MUNICIPIO</th>
        <th scope="col" width="10%">DEPTO</th>
        <th scope="col" width="10%">PAIS</th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dato>
      <tr >
        <td>{{dato.fechaModificacion}}</td>
        <td>{{dato.direccion}}</td>
        <td>{{dato.codigoPostal}}</td>
        <td>{{dato.municipio.nombre}}</td>
        <td>{{dato.departamento.nombre}}</td>
        <td>{{dato.pais.nombre}}</td>

      </tr>
    </ng-template>

  </p-table>

  <br/>


  <button class="btn"  pButton type="button" label="Agregar Tipo de Contacto" icon="pi pi-check" (click)="addContacto()"></button>

  <br/>
  <p-tabView>
    <p-tabPanel header="Mis Direcciones">
      <p-table [value]="aDirCon" [paginator]="true" [rows]="30" [rowsPerPageOptions]="[20,30,40]" editMode="row">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" width="15%">FECHA ACTUALIZACION</th>
            <th scope="col" width="15%">TIPO DE CONTACTO</th>
            <th scope="col" width="30%">DIRECCION</th>
            <th scope="col" width="10%">MUNICIPIO</th>
            <th scope="col" width="10%">DEPTO</th>
            <th scope="col" width="10%">PAIS</th>
            <th scope="col" width="10%">ACCION</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dato>
          <tr >
            <td>{{dato.fechaModificacion}}</td>
            <td>{{dato.tipo.nombre}}-{{dato.uso.nombre}}</td>
            <td>{{dato.direccion}}</td>
            <td>{{dato.municipio.nombre}}</td>
            <td>{{dato.departamento.nombre}}</td>
            <td>{{dato.pais.nombre}}</td>
            <td class="center cleanBgBtn_css">
              <button class="btn btn-default" type="button" title="Click para eliminar este registro"
                      data-toggle="modal" (click)="eliminaContacto(dato)">
                <i class="glyphicon glyphicon-trash"></i>
              </button>
              <button class="btn"  pButton type="button" label="Eliminar" (click)="eliminaContacto(dato)"></button>
            </td>
          </tr>
        </ng-template>

      </p-table>


    </p-tabPanel>
    <p-tabPanel header="Mis Correos">
      <p-table [value]="aDirMai" [paginator]="true" [rows]="30" [rowsPerPageOptions]="[20,30,40]" editMode="row">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" width="15%">FECHA ACTUALIZACION</th>
            <th scope="col" width="15%">TIPO DE CONTACTO</th>
            <th scope="col" width="30%">CORREO ELECTRONICO</th>
            <th scope="col" width="10%">ACCION</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-x>
          <tr >
            <td>{{x.fechaModificacion}}</td>
            <td>{{x.tipoT.nombre}}-{{x.uso.nombre}}</td>
            <td>{{x.direccion}}</td>

            <td class="center cleanBgBtn_css">
              <button class="btn btn-default" type="button" title="Click para eliminar este registro"
                      data-toggle="modal" (click)="eliminaContacto(x)">
                <i class="glyphicon glyphicon-trash"></i>
              </button>
              <button class="btn"  pButton type="button" label="Eliminar" (click)="eliminaContacto(x)"></button>
            </td>
          </tr>
        </ng-template>

      </p-table>

    </p-tabPanel>
    <p-tabPanel header="Mis Telefonos">
      <p-table [value]="aDirTel" [paginator]="true" [rows]="30" [rowsPerPageOptions]="[20,30,40]" editMode="row">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" width="15%">FECHA ACTUALIZACION</th>
            <th scope="col" width="15%">TIPO DE CONTACTO</th>
            <th scope="col" width="30%">DIRECCION</th>
            <th scope="col" width="10%">MUNICIPIO</th>
            <th scope="col" width="10%">DEPTO</th>
            <th scope="col" width="10%">PAIS</th>
            <th scope="col" width="10%">ACCION</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-datosTel>
          <tr >
            <td>{{datosTel.fechaModificacion}}</td>
            <td>{{datosTel.tipoT.nombre}}-{{datosTel.uso.nombre}}</td>
            <td>{{datosTel.numero}}</td>
            <td>{{datosTel.ciudad.nombre}}</td>
            <td>{{datosTel.depto.nombre}}</td>
            <td>{{datosTel.pais.nombre}}</td>
            <td class="center cleanBgBtn_css">
              <button class="btn btn-default" type="button" title="Click para eliminar este registro"
                      data-toggle="modal" (click)="eliminaContacto(datosTel)">
                <i class="glyphicon glyphicon-trash"></i>
              </button>
              <button class="btn"  pButton type="button" label="Eliminar" (click)="eliminaContacto(datosTel)"></button>
            </td>
          </tr>
        </ng-template>

      </p-table>

    </p-tabPanel>
  </p-tabView>












</div>

<!-- /////////////////////////////  SECCIÓN PANEL PRINCIPAL FIN    ////////////////////////////// -->
<!-- *************************   SECCIÓN PANEL DE NOTIFICACIONES INI    *************************** -->


<div *ngIf="displayDirNotificacion">
  <p-dialog header="ASISTENTE PARA INGRESAR DIRECCIÓN ESTANDARIZADA" [(visible)]="displayDirNotificacion" [modal]="true" [responsive]="true" [style]="{width: '1050px'}" [minY]="70"
            [maximizable]="false" [baseZIndex]="10000" [closable]="true" positionTop="100">
    <app-estandarizador></app-estandarizador>

  </p-dialog>
</div>



<p-dialog header="Agregar nuevo contacto" [(visible)]="displayAddContacto" [modal]="true" [responsive]="true" [style]="{width: '1050px'}" [minY]="70"
          [maximizable]="false" [baseZIndex]="10000" [closable]="true" positionTop="100">


  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">

        <div class="panel-body">


          <div class="col-lg-12">
            <label>Seleccione el tipo de contacto: </label>

            <br>
            <p-radioButton name="tipoContacto" value="3" label="Correo electrónico" [(ngModel)]="tipoContacto"></p-radioButton>
            <br>
            <p-radioButton name="tipoContacto" value="2" label="Dirección" [(ngModel)]="tipoContacto"></p-radioButton>
            <br>
            <p-radioButton name="tipoContacto" value="1" label="Teléfono" [(ngModel)]="tipoContacto"></p-radioButton>


            <hr>
          </div>


          <!-- EMAIL -->

          <div class="col-lg-12" *ngIf="tipoContacto == '3'">


            <form name="myForm" novalidate="novalidate">

              <div class="row show-grid ">

                <div class="col-md-6">

                  <label class="required_css">Correo electrónico</label>




                  <input type="text" [name]="email" class="form-control" ng-maxlength="200" [ngModelOptions]="{standalone: true}" [(ngModel)]="email" [id]="email"/>



                </div>


                <div class="col-md-6">

                  <label class="required_css">Tipo de uso</label>


                  <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="mailTipoUso" [name]="mailTipoUso" [id]="mailTipoUso">
                    <option *ngFor="let ban of listaTU" [value]="ban.codigo">
                      {{ban.nombre}}
                    </option>
                  </select>

                </div>

              </div>
              <hr>

              <div class="buttons_css">
                <button type="button" class="btn btn-primary" (click)="cancel()">
                  <span class="glyphicon glyphicon-level-up" aria-hidden="true"></span>
                  Cancelar
                </button>
                <button type="button" class="btn btn-success" (click)="registrar()">
                  <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                  Crear Contacto
                </button>
              </div>

            </form>



          </div>




          <div class="col-lg-12" *ngIf="tipoContacto == '1'">               <!-- TELEFONO -->
            <div class="row">
              <form role="form" name="myFormT" novalidate="novalidate">

                <div class="col-lg-12">
                  <div class="row show-grid ">
                    <div class="col-lg-3">
                      <span class="innerTitleBold_css">Tel&eacute;fono: </span>
                      <input class="form-control" [name]="telefono"  [id]="telefono" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="telefono" minlength="7"   required="true" [maxlength]="14" />
                    </div>

                    <div class="col-lg-3">
                      <span class="innerTitleBold_css">Ext: </span>
                      <input class="form-control" type="text" [name]="ext"  [id]="ext" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="ext" [ngModelOptions]="{standalone: true}"/>
                    </div>

                    <div class="col-lg-3">
                      <span class="innerTitleBold_css">Tipo de uso: </span>

                      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="telTipoUso" [name]="telTipoUso" [id]="telTipoUso">
                        <option *ngFor="let ban of listaTU" [value]="ban.codigo">
                          {{ban.nombre}}
                        </option>
                      </select>
                    </div>


                    <div class="col-lg-3">
                      <span class="innerTitleBold_css">Tipo: </span>
                      <select class="form-control" id="seleccion" ng-init="tipo='FIJO'" [(ngModel)]="tipo" [ngModelOptions]="{standalone: true}" [(ngModel)]="tipo" [name]="tipo" [id]="tipo">
                        <option value="FIJO">Fijo</option>
                        <option value="CELULAR">Celular</option>
                        <option value="AVANTEL">Avantel</option>
                      </select>
                    </div>

                  </div>
                </div>

              </form>
            </div>

            <hr>

            <div class="buttons_css">
              <button type="button" class="btn btn-primary" (click)="cancel()">
                <span class="glyphicon glyphicon-level-up" aria-hidden="true"></span>
                Cancelar
              </button>
              <button type="button" class="btn btn-success" (click)="registrar()">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                Crear Contacto
              </button>
            </div>
          </div>                      <!-- TELEFONO -->


          <!-- DIRECCION -->

          <div *ngIf="tipoContacto == '2'">

            <app-estandarizador></app-estandarizador>

          </div>

          <!-- DIRECCION -->

        </div>
      </div>
    </div>
  </div>


</p-dialog>
