<p-toast [style]="{marginTop: '80px'}"  key="custom" position="top-center"  [showTransitionOptions]="'400ms'" [hideTransitionOptions]="'250ms'"></p-toast>
{{this._authservice.estaAutenticado()}} perfil {{this._authservice.perfilusuario}}
<div class="container" *ngIf="!this._authservice.estaAutenticado()">
  <p-menubar [model]="this.itemsingreso" >
    <ng-template pTemplate="item" let-item let-i="index">
      <div style="position: relative; text-align: left; min-width: 10em">
        <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
        <div class="ui-menuitem-text" style="font-size: 1em">
          {{item.label}}
        </div>

      </div>
    </ng-template>
  </p-menubar>

</div>
<div class="container" *ngIf="this._authservice.estaAutenticado() && this._authservice.perfilusuario === 1">
  <p-menubar [model]="this.itemsciud" >
    <ng-template pTemplate="item" let-item let-i="index">
      <div style="position: relative; text-align: left; min-width: 10em">
        <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
        <div class="ui-menuitem-text" style="font-size: 1em">
          {{item.label}}
        </div>

      </div>
    </ng-template>
  </p-menubar>

</div>
<div class="container" *ngIf="this._authservice.estaAutenticado() && this._authservice.perfilusuario === 2">

  <p-menubar [model]="this.itemsfunc" >
    <ng-template pTemplate="item" let-item let-i="index">
      <div style="position: relative; text-align: left; min-width: 10em">
        <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
        <div class="ui-menuitem-text" style="font-size: 1em">
          {{item.label}}
        </div>

      </div>
    </ng-template>
  </p-menubar>

</div>

<div class="container" *ngIf="this._authservice.estaAutenticado() && this._authservice.perfilusuario === 3">
  <p-menubar [model]="this.itemsadm" >
    <ng-template pTemplate="item" let-item let-i="index">
      <div style="position: relative; text-align: left; min-width: 10em">
        <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
        <div class="ui-menuitem-text" style="font-size: 1em">
          {{item.label}}
        </div>

      </div>
    </ng-template>
  </p-menubar>

</div>
<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">RIT-DQ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">

      <li *ngIf="!_authService.estaAutenticado()" class="nav-item">
        <a  class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/autenticar']" >Autenticar Funcionario</a>
      </li>
      <li *ngIf="!_authService.estaAutenticado()" class="nav-item">
        <a  class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/autenticarCiud']" >Autenticar Ciudadano</a>
      </li>
      <li *ngIf="_authService.estaAutenticado()" class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/crearciu']" >Ciudadano-Crear</a>
      </li>
      <li *ngIf="_authService.estaAutenticado()" class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/crearbus']" >Ciudadano-Buscar</a>
      </li>
      <li *ngIf="_authService.estaAutenticado()"class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/datoscontacto']" >Datos Contacto</a>
      </li>
      <li *ngIf="_authService.estaAutenticado()"class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/descuento']" >Datos 1 %</a>
      </li>
      <li *ngIf="_authService.estaAutenticado()"class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/actividades']" >Actividades Economicas</a>
      </li>
      <li *ngIf="_authService.estaAutenticado()"class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/representantes']" >Representantes</a>
      </li>
      <li *ngIf="_authService.estaAutenticado()"class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/establecimientos']" >Establecimientos</a>
      </li>
      <li *ngIf="_authService.estaAutenticado()"class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/predios']" >Predios</a>
      </li>
      <li *ngIf="_authService.estaAutenticado()"class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/vehiculos']" >Vehiculos</a>
      </li>
      <li *ngIf="_authService.estaAutenticado()"class="nav-item">
        <a  class="nav-link" (click)="salir()" href="#">Salir</a>
      </li>
    </ul>

  </div>

</nav> -->
