<app-navbar></app-navbar>
<!--div *ngIf="ciudService.ciudadanoActivo" -->
<div class="container ">
  <h2 class="base-header-repres">REPRESENTANTES</h2>
  <p class="norecord" *ngIf="!haydatos">NO HAY CIUDADANO SELECCIONADO. DIRIJASE A LA OPCION DE BUSCAR PARA ACTUALIZAR LA INFORMACION.</p>


  <p-table [value]="lista" [paginator]="true" [rows]="30" [rowsPerPageOptions]="[20,30,40]" editMode="row">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" width="15%">IDENTIFICACION</th>
        <th scope="col" width="30%">NOMBRE DEL REPRESENTANTE</th>
        <th scope="col" width="15%">CLASE DE REPRESENTACION</th>
        <th scope="col" width="20%">TIPO DE REPRESENTACION</th>
        <th scope="col" width="10%">FECHA</th>
        <th scope="col" width="10%">ACCION</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dato>
      <tr >
        <td >{{dato.documento}}</td>
        <td>{{dato.nombre}}</td>
        <td>{{dato.claseRepres}}</td>
        <td>{{dato.tipoRepres}}</td>
        <td>{{dato.fechaInicio}}</td>
        <td style="text-align:center" ><button class="btn"  pButton type="button"  label="cerrar" (click)="verborra(dato)"></button>

        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left" *ngIf="ciudadanoeActivo !== null">
        <button class="btn "  pButton type="button" label="Adicionar" icon="pi pi-check" (click)="vercrear()"></button>
      </div>
    </ng-template>
  </p-table>

</div>
<p-dialog header="CREAR" [modal]="true" [positionTop]="100"  [(visible)]="creardialog" [style]="{width: '500px', height: '200px'}"
          [closable]="true" [baseZIndex]="10000">
  <div class="container">
    <div >
      <form  class="base-container"  (ngSubmit)="this.crearEsta()" [formGroup]="formulario" >
        <div class="form-group row">
          <div class="col-sm-9">
            <label>Fecha de inicio de representación: </label>
            <p-calendar  name="fechaApertura" formControlName="fechaInicio"  [showIcon]="true" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>

          </div>

        </div>
        <p-messages [(value)]="msgs"></p-messages>
        <div class="form-group row">
          <div class="col-sm-9">

            <label >Tipo de Identificación : </label>

            <select class="custom-select" class="form-control"  name="tipoDocumento" formControlName="tipoDocumento">
              <option selected>Seleccione el tipo de Identificación</option>
              <option value="4">CEDULA</option>
              <option value="3">NIT</option>
              <option value="5">PASAPORTE</option>
              <option value="6">CARNET DIPLOMATICO</option>
              <option value="2">CEDULA DE EXTRANJERIA</option>
              <option value="1">TARJETA DE IDENTIDAD</option>
              <option value="7">REGISTRO CIVIL</option>
              <option value="8">N.U.I.P.</option>
              <option value="9">NIT EXTRANJERO</option>
            </select>
          </div>

        </div>

        <div class="form-group row">
          <div class="col-sm-9">
            <label>Numero Identificación: </label>
            <input type="text" name="documento" formControlName="documento" class="form-control" ngModel  autocomplete="off"/>
            <button class="btn  px-4 float-left"  pButton type="button" label="Confirmar contribuyente" icon="pi pi-check" (click)="confirmar()"></button>

          </div>

        </div>
        <div class="form-group row">
          <div class="col-sm-9">

            <label >Clase de representación : </label>

            <select class="custom-select" class="form-control"  formControlName="claseRepres" name="claseRepres" ngModel (change)="this.cambioClase()">

              <option *ngFor="let dato of claserepresI" [value]="dato.codigo">
                {{dato.nombre}}
              </option>
            </select>
          </div>

        </div>
        <div class="form-group row">
          <div class="col-sm-9">

            <label >Tipo de representación : </label>

            <select class="custom-select" class="form-control"  formControlName="tipoRepres" name="tipoRepres" ngModel>

              <option *ngFor="let dato of tiposrepresI" [value]="dato.codigo">
                {{dato.nombre}}
              </option>
            </select>
          </div>

        </div>

        <div class="form-group row">
          <div class="col-sm-9">
            <button class="btn  px-4 float-left"  pButton type="button" label="Adicionar" [disabled]="btncrear" (click)="guardar()"></button>
          </div>

        </div>
      </form>

    </div>
  </div>

</p-dialog>

<p-dialog header="FINALIZAR REPRESENTACION" [modal]="true" [positionTop]="100"  [(visible)]="borrardialog" [style]="{width: '500px', height: '200px'}"
          [closable]="true" [baseZIndex]="10000">
  <div class="container">
    <div >
      <form  class="base-container"  (ngSubmit)="this.guardar()" [formGroup]="formularioborra" >
        <p-messages [(value)]="msgs" ></p-messages>
        <div class="form-group row">
          <div class="col-sm-9">
            <label>Fecha de Apertura: </label>
            <br/>
            <label><strong>{{fechaInicial}}</strong></label>

          </div>

        </div>
        <div class="form-group row">
          <div class="col-sm-9">
            <label>Fecha de Cierre: </label>
            <p-calendar  name="fechaCierre" formControlName="fechaCierre"  [showIcon]="true" [locale]="es" dateFormat="dd/mm/yy" [inline]="true"></p-calendar>

          </div>

        </div>
        <div class="form-group row">
          <div class="col-sm-9">
            <button class="btn  px-4 float-left"  pButton type="button" label="Borrar" icon="pi pi-check" (click)="borrar()"></button>
          </div>

        </div>
      </form>

    </div>
  </div>

</p-dialog>
