
<p-toast position="top-left"></p-toast>


<div class="panel-body" *ngIf="capturaDireccion">

    <div [formGroup]="formulario">


  <button type="button" class="close" ng-click="cerrarCaptura()">&times;</button>

  <p-panel header="Seleccione departamento y municipio de la dirección.">


    <br>
    <div id="deptomun" >
      <div class="clearfix invisible-md-12"></div>

      <p-messages [(value)]="msgs" ></p-messages>

      <div class="row show-grid ">

        <div class="col-md-3">
          <span class="innerTitleBold_css">Departamento: </span>
          <p-dropdown [options]="listdptos"  name="departamento"   formControlName="departamento" required="required" optionLabel="nombre" (onChange)="cambioDepto()" placeholder="Seleccione"></p-dropdown>
        </div>

        <div class="col-md-3">
          <span class="innerTitleBold_css">Municipio: </span>
          <p-dropdown [options]="listmunicipios" name="mpioDireccion" ngModel formControlName="mpioDireccion" optionLabel="nombre" placeholder="Seleccione" required></p-dropdown>

        </div>
        <!--
        <div class="col-md-3" >
          <span class="innerTitleBold_css">C&oacute;digo Postal: </span>
          <input type="number" pInputText name="codPostalDireccion" formControlName="codPostalDireccion" title="Codigo Postal" required />

          <span class="input-group-btn modalFixBtn_css tooltip-info">
              <button class="btn btn-default" type="button" data-toggle="tooltip" data-placement="top"
                      title="Ayuda c&oacute;digo postal nacional">
                <i class="fa fa-globe"></i>
              </button>
              </span>


        </div>
        -->
        <div class="col-md-3" >
          <span class="innerTitleBold_css">Ubicación de la dirección: </span>
          <br>
          <p-radioButton name="ubicacion" value="2" label="Urbana" formControlName="ubicacion" [(ngModel)]="ubicacion"></p-radioButton>
          <p-radioButton name="ubicacion" value="1" label="Rural" formControlName="ubicacion"  [(ngModel)]="ubicacion"></p-radioButton>


        </div>
        <div class="col-md-3" *ngIf="!accionDirNotif">
          <span class="innerTitleBold_css">Tipo de uso: </span>
          <p-dropdown [options]="listaTU" name="dirTipoUso" ngModel formControlName="dirTipoUso" optionLabel="nombre" placeholder="Seleccione" ></p-dropdown>

        </div>

      </div>

    </div>


  </p-panel>
    <div class="row" *ngIf="ubicacion == '2'">
    <div aling ="center" class="col-md-12">

      <p-panel header="Componente de la nueva Dirección. Ej CL 12 C BIS 12 A 34 SUR AP 824">



        <div class="form-inline">
          <div class="form-group mx-sm-1">
            <p-dropdown [options]="listviaprimaria"   name="viaPrimaria" ngModel formControlName="viaPrimaria"
                        (onChange)="cambioDir()" placeholder="Seleccione" optionLabel="nombre"></p-dropdown>

          </div>
          <div class="form-group mx-sm-1">
            <input type="text" pInputText name="nroViaPpal"  ngModel formControlName="nroViaPpal" (input)="cambioDir()" title="Número v&iacute;a principal" size="3" />

          </div>
          <div class="form-group  mx-sm-1">
          <p-dropdown [options]="letras20" name="letraViaPpal" ngModel formControlName="letraViaPpal" optionLabel="nombre" placeholder="Seleccione"
                      (onChange)="cambioDir()"></p-dropdown>
          </div>

          <div class="form-group  mx-sm-1">
            <p-dropdown [options]="bis10" name="bis1" ngModel formControlName="bis1" optionLabel="nombre" (onChange)="cambioDir()" placeholder="Seleccione"></p-dropdown>

          </div>
          <div class="form-group  mx-sm-1">
            <p-dropdown [options]="letras10" name="letraBis" ngModel formControlName="letraBis" optionLabel="nombre" (onChange)="cambioDir()"  placeholder="Seleccione"></p-dropdown>

          </div>
          <div class="form-group  mx-sm-1">
            <p-dropdown [options]="cuadrante" name="cuadrante1" ngModel formControlName="cuadrante1" optionLabel="nombre" (onChange)="cambioDir()"
                        placeholder="Seleccione"></p-dropdown>

          </div>


          <div class="form-group mx-sm-1">


          <input type="text" pInputText name="nroViaGen" ngModel formControlName="nroViaGen" (input)="cambioDir()" title="Número v&iacute;a general" size="3" />
          </div>
            <div class="form-group mx-sm-1">
          <p-dropdown [options]="letras" name="letraViaGen" ngModel formControlName="letraViaGen" optionLabel="nombre" (onChange)="cambioDir()" placeholder="Seleccione"></p-dropdown>
            </div>
          <div class="form-group mx-sm-1">


          <input type="number" pInputText name="nroPlaca" ngModel formControlName="nroPlaca" (input)="cambioDir()" title="N&uacute;mero de placa" />
          </div>
          <div class="form-group mx-sm-1">



          <p-dropdown [options]="cuadrante" name="cuadranteVG" ngModel formControlName="cuadranteVG" optionLabel="nombre" (onChange)="cambioDir()" placeholder="Seleccione"></p-dropdown>
          </div>

        </div>



      </p-panel>

    </div>
  </div>




  <p-panel header="Complemento a la dirección">

    <p>

      <p-messages [(value)]="msgsComplemento" ></p-messages>


    <p>Seleccione los complementos a la dirección <strong>Ej. apto 2222 / Bodega 3 / Garaje 7 </strong> uno por uno, haciendo  click en el
        botón &quot;Agregar Complemento&quot;. <br>Si tiene varios repita el proceso.
        <br/>
      </p>


    <div class="row ">
      <div class="col-md-4">
        <p-dropdown [options]="complemento" name="complemento1" ngModel formControlName="complemento1" optionLabel="nombre" (change)="cambioDir()" placeholder="Seleccione el Complemento 1" ></p-dropdown>
      </div>
      <div class="col-md-3">
        <input type="text" pInputText name="complemento2" ngModel formControlName="complemento2"  title="N&uacute;mero de placa" placeholder="Complemento 2"/>

      </div>
      <div class="col-md-3">
        <button class="boton-verde"  pButton type="button" label=" Agregar Complemento" (click)="complementar()"></button>
      </div>
    </div>


  </p-panel>

    </div>
</div>





<br/>
<br/>
<div class="col-lg-12 tooltip-info">


  <div class="form-group input-group tooltip-info">
    <label class="required_css"><strong>Direcci&oacute;n Estandarizada:</strong> </label>
    <input type="text" class="form-control" [(ngModel)]="direccion" name="direccion" readonly="readonly" ng-required="true"/>
    <span class="input-group-btn modalFixBtn_css" data-toggle="tooltip" data-placement="top" title="Asistente para Direcciones">
      <button class="boton"  pButton type="button" label=" Cambiar dirección ..." (click)="capturar()" *ngIf="!capturaDireccion"></button>
      <!--button class="btn"  pButton type="button" label="Limpiar" (click)="borrar()" *ngIf="capturaDireccion"></button-->


            </span>

  </div>
</div>





<div class="modal-footer-dir" >

  <button type="button" class="btn btn-danger" (click)="ok()" *ngIf="capturaDireccion && !validacionRegistroDireccion"> <!-- -->
    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
    Actualizar dirección...
  </button>

  <button type="button" class="btn btn-danger" (click)="registrar()" *ngIf="capturaDireccion && validacionRegistroDireccion">
    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
    Actualizar dirección...
  </button>


</div>



<!--
</p-dialog>
-->
