<!--div *ngIf="ciudService.ciudadanoActivo" -->
  <div class="container ">
    <h2 class="base-header-estab">ESTABLECIMIENTOS</h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">NOMBRE</th>
    <th scope="col">FECHA APERTURA</th>
    <th scope="col">DIRECCIONES</th>
    <th scope="col">ACCION</th>
  </tr>
  </thead>
  <tbody>

  <tr class="table-light">
    <th scope="row">Default</th>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  </tbody>
</table>
</div>
<!--/div-->
