<!--div *ngIf="ciudService.ciudadanoActivo" -->
<app-navbar></app-navbar>
<div class="container ">
  <h2 class="base-header-vehi">VEHICULOS</h2>
  <p class="norecord" *ngIf="!haydatos">NO HAY CIUDADANO SELECCIONADO. DIRIJASE A LA OPCION DE BUSCAR PARA ACTUALIZAR LA INFORMACION.</p>

  <p-table [value]="lista" [paginator]="true" [rows]="30" [rowsPerPageOptions]="[20,30,40]" editMode="row">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" width="10%">PLACA</th>
        <th scope="col" width="30%">MARCA</th>
        <th scope="col" width="20%">LINEA</th>
        <th scope="col" width="10%">MODELO</th>
        <th scope="col" width="20%">CLASE</th>
        <th scope="col" width="10%">ORGANISMO TRANS.</th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dato>
      <tr >
        <td>{{dato.placa}}</td>
        <td >{{dato.marca.nombre}}</td>
        <td >{{dato.linea.nombre}}</td>
        <td >{{dato.modelo}}</td>
        <td >{{dato.clase.nombre}}</td>
        <td >NO HAY</td>

      </tr>
    </ng-template>
  </p-table>
</div>
<!--/div-->
