/* You can add global styles to this file, and also import other style files */
/**
 * 01/28/2016
 * This pen is years old, and watching at the code after all
 * those years made me fall from my chair, so I:
 * - changed all IDs to classes
 * - converted all units to pixels and em units
 * - changed all global elements to classes or children of
 *   .base
 * - cleaned the syntax to be more consistent
 * - added a lot of spaces that I so hard tried to avoid
 *   a few years ago
 *   (because it's cool to not use them)
 * - and probably something else that I can't remember anymore
 *
 * I sticked to the same philosophy, meaning:
 * - the design is almost the same
 * - only pure HTML and CSS
 * - no frameworks, preprocessors or resets
 */

/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  /*background-image: url('http://127.0.0.1:7101/RITDQWEB/imagen/SUPERCADEBN.jpg');
  background-repeat: no-repeat;*/
  background: #eff1f4;
  font-family: 'Open Sans', sans-serif;

  height: 100%;
}

.base {
  width: 800px;
  margin: 16px auto;
  font-size: 20px;
}

/* Reset top and bottom margins from certain elements */
.base-header,
.base p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.base-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.base-header {
  background: #9F9B98;
  padding: 12px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.base-container {
  background: 	#f7f6f6;
  padding: 12px;
}

/* Every row inside .base-container is defined with p tags */
.base p {
  padding: 12px;
}

.base input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.base input[type="email"],
.base input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.base input[type="email"]:focus,
.base input[type="password"]:focus {
  border-color: #888;
}

.base input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.base input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.base input[type="submit"]:focus {
  border-color: #05a;
}
.base-header-repres {
  background: #9F9B98;
  padding: 12px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.base-header-estab {
  background: #9F9B98;
  padding: 12px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.base-header-vehi {
  background: #9F9B98;
  padding: 12px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.base-header-pred {
  background: #9F9B98;
  padding: 12px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.base-header-activ {
  background: #9F9B98;
  padding: 12px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.base-header-admi {
  background: #9F9B98;
  padding: 12px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.base-header-ciud {
  background: #9F9B98 ;
  padding: 12px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.norecord {
  background: orangered;
  padding: 12px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.minusculas{
  text-transform:lowercase;
}
.mayusculas{
  text-transform:uppercase;
}

.labl{
  display: inline-block;
  background-color: #555555;
  color: whitesmoke;
  padding: 4px;

}


.boton{
  display: inline-block;
  border: 2px solid #d80e2f !important;;
  font:  11px Verdana ;
  text-transform: uppercase;
  background: #ff0000 !important;
  cursor: pointer;
  transition: background-color 2s !important;

}
.boton:hover{
  background: #8a0e24 !important;
  color: #C5A577 !important;

}
.boton-lover{
  border: 2px solid #bebebe !important;;
  background: #bebebe !important;
  font:  10px Verdana ;
  cursor: pointer;
}
.boton-lover:hover{
  background: #8a0e24 !important;

  color: #ffffff !important;

}
.boton-verde{
  border: 2px solid #43ac6a !important;;
  background: #43ac6a !important;
  cursor: pointer;
}
.boton-verde:hover{
  background: #8a0e24 !important;

  color: #C5A577 !important;

}
.margin-bootom-xs {
  margin-bottom: 5px;
}

.margin-bootom-sm {
  margin-bottom: 10px;
}

.margin-bootom-md {
  margin-bottom: 20px;
}

.margin-bootom-lg {
  margin-bottom: 40px;
}
